atomicwrites==1.4.0
attrs==21.2.0
bpr-uml-shared @ git+https://github.com/AronGreen/bpr-uml-shared.git@c8846869445441a9477fff964cec3560dc0eeb6b
CacheControl==0.12.6
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
dataclasses-json==0.5.6
dnspython==2.1.0
firebase-admin==5.0.3
Flask==2.0.1
Flask-Cors==3.0.10
flask-swagger==0.2.14
google-api-core==2.0.1
google-api-python-client==2.23.0
google-auth==2.2.1
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.4
google-cloud-storage==1.42.3
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.41.0
gunicorn==20.1.0
httplib2==0.19.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-enum==1.5.1
msgpack==1.0.2
mypy-extensions==0.4.3
Naked==0.1.31
packaging==21.0
pluggy==1.0.0
proto-plus==1.19.2
protobuf==3.18.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.12.0
pyparsing==2.4.7
pytest==6.2.5
python-dotenv==0.19.0
PyYAML==6.0
requests==2.26.0
rsa==4.7.2
shellescape==3.8.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
uritemplate==3.0.1
urllib3==1.26.7
Werkzeug==2.0.1
